<!-- _________________ Allows User to edit genre ____________________ -->
<ul>
  <li><a href="/profile">Profile</a></li>
</ul>

<!-- Creates edit form and updates -->

<h1>Edit Genre</h1>

<%= form_for @genre do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
