<!-- _________________ Allows User to edit genre ____________________ -->
<ul>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/pages/feed">Cloud Feed</a></li>
  <li><a href="/links/new">New link</a></li>
  <li><a href="/links">Your Links</a></li>
  <li><a href="/genres">Your Categories</a></li>
</ul>

<!-- Creates edit form and updates -->

<h1>Edit Genre</h1>

<%= form_for @genre do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>
