<ul>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/pages/feed">Cloud Feed</a></li>
  <li><a href="/links/new">New Link</a></li>
  <li><a href="/genres/new">New Category</a></li>
  <li><a href="/links">Your Links</a></li>
</ul>

<h1>Update Profile</h1>

<%= form_for @current_user do |u| %>
  <p>
    <%= u.label :name %><br>
    <%= u.text_field :name %>
  </p>

  <p>
    <%= u.label :email %><br>
    <%= u.email_field :email %>
  </p>

  <p>
    <%= u.label :pic %><br>
    <%= u.text_area :pic %>
  </p>

  <p>
    <%= u.submit %>
  </p>
<% end %>
