<!-- ___________ Allows user to create and store link ____________________ -->

<!-- http://localhost:3000/links/create -->

<h1>Create new link blah</h1>

this is where my links and categories are going to go

<% @genres.each do |g| %>

<p><%=g.name%></p>

<p><%=g.description%></p>

<p>User ID: <%=g.user_id%></p>
<p>Genre ID: <%=g.id%></p>

<% end %>

<% @links.each do |l| %>

<p><%=l.link_display_name%></p>
<p><%=l.display_description%></p>
<p><%=l.display_url%></p>

<p>Genre:ID <%=l.genre_id%></p>

<p>User:ID <%=l.user_id%></p>

<% end %>
