<!-- ___________ Allows user to create and store link ____________________ -->

<!-- http://localhost:3000/links/create -->

<!-- Nav bar -->
<ul>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/pages/feed">Cloud Feed</a></li>
  <li><a href="/genres/new">Create new Category</a></li>
  <li><a href="/links">Saved Links</a></li>
  <li><a href="/genres">Saved Categories</a></li>
</ul>

<h1>Create new link blah</h1>

this is where my links and categories are going to go

<% @genres.each do |g| %>

<p><%=g.name%></p>

<p><%=g.description%></p>

<p>User ID: <%=g.user_id%></p>
<p>Genre ID: <%=g.id%></p>

<% end %>

<% @links.each do |l| %>

<p>Link Display: <%=l.link_display_name%></p>
<p>Link Desc: <%=l.display_description%></p>
<p>Link URL: <%=l.display_url%></p>

<p>Genre:ID <%=l.genre%></p>

<p>User:ID <%=l.user_id%></p>

<% end %>
