
<!-- In bootstrap a container and row are used to scaffold a responsive design -->
<div class="container">
  <div class="row">
    <!-- This creates a column that applies to medium size and larger browsers and provides a column width of 33.3% -->
    <div class="col-md-4 left_panel">
      <div class="category_container">
        <!-- If genres exsit then loop through and load into view -->
        <% if @genres.present? %>
        <% @genres.each do |g| %>
          <div class="genre">
            <%= link_to profile_path({:genre_id => g.id}), { class: "btn btn-default" } do %>
              <span><%= g.name %></span>
              <!-- This creates a badge and adds the amount of links found by the length -->
              <span class="badge"><%= g.links.size %></span>
            <% end %>
          </div>
        <% end %>
        <% else %>
        <!-- When no categories are found display message -->
          <p>No Categories found.</p>
        <% end %>
      </div>
      <!-- Making a container for the buttons and using bootstrap button styling -->
      <div class="category_container">
        <a type="button" class="btn btn-default" href="/links/new">
          <span>New Link</span>
          <!-- Plus icon -->
          <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
        </a>
        <a type="button" class="btn btn-default" href="/genres/new">
          <span>New Category</span>
          <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <!-- This is to the remainder of the width to the content of the page -->
    <div class="col-md-8 right_panel">
      <div class="category_container">
        <% if @genre.present? %>
        <div class="genre">
          <div class="genre-information media-body">
            <div class="pull-left">
              <!-- Media heading is a bootsrap style, makes it look nice :) -->
              <div class="media-heading">
                <h2><%= @genre.name %></h2>
                <p><%= @genre.description %></p>
              </div>
            </div>
            <div class="pull-right">
              <%= link_to edit_genre_path(@genre) do %>
                <span>EDIT </span><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              <% end %>
            </div>
          </div>
          <hr>
          <!-- loops through links and loads into view -->
          <% @genre.links.each do |l| %>
          <div class="link">
            <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object" src="https://unsplash.it/100/100/?random" alt="...">
                </a>
              </div>
              <!-- Displays link titles -->
              <div class="media-body">
                <div class="pull-left">
                  <h4 class="media-heading"><%= l.link_display_name %></h4>
                  <p><%= l.display_description %></p>
                  <a href="<%=l.display_url%>" target="_new"><%=l.display_url%></a>
                </div>
                <div class="pull-right">
                  <%= link_to edit_link_path(l) do %>
                    <span>EDIT </span><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <% end %>
        </div>
        <% else %>
          Please Create your first category.
        <% end %>
      </div>
    </div>
  </div>
</div>
